<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>




<div class="jumbotron jumbotron col-xl-12 bg-transparent jumbotronBg">

    <div class="container">
        <div class="row  animated fadeIn fast">
            <div class="col-lg-12">
                <img id="centeredImg" src="/img/tristone_logo_head.png" class="rounded mx-auto d-block text-center"
                    alt="Tristone Flowtech">
            </div>
        </div>
        <h1 class="display-3 text-center">Lista De Asistencia</h1>
        <p class="lead text-center">Reporte Anual</p>
        <h3 class="text-center">
            <span class="badge badge-light "> <span class="badge badge-primary"> <span class="fas fa-calendar"></span>
                </span> <%=cap_año%> </span>
        </h3>
        <div <%= view %> class="alert alert-warning alert-dismissible fade show animated infinite pulse slow"
            role="alert">
            <strong class="">Atencion!</strong> Esta lista no se encuentra actualizada<br>
            Favor de llenar todas los motivos de faltas restantes --> <a href="/login/motivo_falta">Capturar Motivos</a>
        </div>
    </div>
</div>
<hr>
<div class="row col-lg-12">
    <div class="col-lg-6">
        <div class="jumbotron bg-light ">
            <p class="lead text-center">Contributors</p>
            <canvas id="horizontalBar" width="400" height="120"></canvas>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="jumbotron bg-light ">
            <p class="lead text-center">Contributors [Heads]</p>
            <canvas id="verticalBar" width="400" height="120"></canvas>
        </div>
    </div>

</div>

<div class="row col-lg-12">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <h3>
                    <span class="badge badge-light "> <span class="badge badge-primary"> <span
                                class="fas fa-border-all"></span> </span> Motivos de falta por empleado </span>
                </h3>
            </div>
            <div class="card-body">



                <table id="myTable" class="table table-fluid table-hover table-borderless ">
                    <thead>
                        <tr>
                            <th>
                                <h4><span class="badge badge-light border border-dark"> <span
                                            class="badge badge-primary fas fa-id-badge"> </span> Empleado ID</span></h4>
                            </th>
                            <th>
                                <h4><span class="badge badge-light border border-dark"> <span
                                            class="badge badge-primary fas fa-address-card"> </span> Nombre</span>
                                    </h4</th> <th>
                                    <h4><span class="badge badge-light border border-dark"> <span
                                                class="badge badge-primary fas fa-calendar-alt"> </span> Año</span>
                                        </h4</th> <th>
                                        <h4><span class="badge badge-light border border-dark"> <span
                                                    class="badge badge-primary fas fa-calendar-week"> </span> Mes</span>
                                            </h4</th> <th>
                                            <h4><span class="badge badge-light border border-dark"> <span
                                                        class="badge badge-primary fas fa-calendar-day"> </span>
                                                    Dia</span></h4</th> <th>
                                                <h4><span class="badge badge-light border border-dark"> <span
                                                            class="badge badge-primary fas fa-bookmark"> </span> Motivo
                                                        de la falta</h4>
                                                </h4</th> </tr> </thead> <tbody>
                                                <%  for (let i = 0; i < captura.length; i++) { %>
                        <tr>
                            <td><%= captura[i].emp_id %></td>

                            <%  for(let y = 0; y< empleados.length; y++){ %>
                            <% if(captura[i].emp_id == empleados[y].emp_id){ %>
                            <td><%= empleados[y].emp_nombre %></td>
                            <% } %>
                            <% } %>

                            <td><%= captura[i].cap_año %></td>
                            <td><%= captura[i].cap_mes %></td>
                            <td><%= captura[i].cap_dia %></td>
                            <%  for(let y = 0; y< motivo_falta.length; y++){ %>
                            <% if(captura[i].motivo_falta == motivo_falta[y].id_motivo){ %>
                            <td><%= motivo_falta[y].motivo_descripcion %></td>
                            <% } %>
                            <% } %>
                        </tr>

                        <% } %>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<% include ./static/footer %>
</body>
<script>
    <% let arreglo = [] %>
    <% let motivos = {} %>


            <% for (let i = 0; i < motivo_falta.length; i++) {%>
                <% for (let y = 0; y < captura.length; y++) {%>
                    <% if (motivo_falta[i].id_motivo == captura[y].motivo_falta) {%>
                        <% arreglo.push(motivo_falta[i].motivo_descripcion) %>
                            <%} %>
                    <% } %>
                <% } %>


            <% arreglo.forEach(function (x) {
                motivos[x] = (motivos[x] || 0) + 1;
            }); %>


                labels =[]
    data = []
    motivos = <%-JSON.stringify(motivos) %> ;
    labels.push(Object.keys(motivos))
    data.push(Object.values(motivos))


    var ctx = document.getElementById('horizontalBar').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',

        data: {
            labels: ['Justified', 'Unjustified'],
            datasets: [{
                label: '',
                data: [ <%= faltas_justificadas %> , <%= faltas_injustificadas %> , 1,],
                backgroundColor: [
                    'rgba(  55, 133, 252  , 1)',
                    'rgba( 243, 252, 55 , 1)',

                ],
                borderColor: [
                    'rgba( 174, 214, 241 , .2)',
                    'rgba( 243, 252, 55 , .2)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: false
                    }
                }]
            },
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: ''
            },
            plugins: {
                datalabels: {
                    align: 'end',
                    anchor: 'centered'
                }
            }
        },

    });

    var ctx = document.getElementById('verticalBar').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',

        data: {
            labels: labels[0],

            datasets: [{
                label: '',
                data: data[0],

                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: false
                    }
                }]
            },
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: ''
            },

            plugins: {
                datalabels: {
                    anchor: 'end',
                    align: 'top',
                }
            }
        },
    });
</script>

</html>